@font-face {
   font-family: 'Champagne & Limousines';
   font-display: swap;
   src: url('Champagne & Limousines/font.ttf');
}
@font-face {
   font-family: 'Cutie Patootie';
   font-display: swap;
   src: url('Cutie Patootie/font.ttf');
}
