@font-face {
   font-family: 'Champagne & Limousines';
   font-display: swap;
   src: url('Champagne & Limousines/font.ttf');
}
@font-face {
   font-family: 'Bellerose';
   font-display: swap;
   src: url('Bellerose/font.ttf');
}
