@font-face {
   font-family: 'Bellerose';
   font-display: swap;
   src: url('file:///C:/Users/rache/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-03_163403/fonts/Bellerose/font.ttf');
}
