@font-face {
   font-family: 'Gabriola';
   font-display: swap;
   src: url('file:///C:/Users/rache/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-30_152056/fonts/Gabriola/font.ttf');
}
